[Desktop Entry]
Type=Service
Icon=image-png
X-KDE-ServiceTypes=KonqPopupMenu/Plugin
MimeType=image/*;
Actions=imgur;
Encoding=UTF-8

[Desktop Action imgur]
Name=Upload to imgur
Icon=upload-media
Exec=~/bin/imgur "%u" &> /dev/null
